extends ../../layouts/home-sweet-home

mixin Block
  .Block
    .Block-title Online devices
    .Block-content Salut


block content
  .Block.Block--weather
    .Weather
      .Weather-temperature #{weather.temperature}&deg;
      .Weather-forecast
        ul
          each day in weather.forecast
            li #{day.date}, #{day.low}, #{day.high}, #{day.text}
      .Weather-rooms
        ul
          li Room A 21.4&deg; - 850ppm
          li Room B 21.4&deg; - 850ppm
  .Block.Block--wifi
    .Block-title Online devices
    .Water
      ul
        li #{waterLevel.date.format('LLLL')}, #{waterLevel.level}
  .Block.Block--datetime
    .Datetime
      .Datetime-time #{date.format('LT')}
      .Datetime-date #{date.format('LL')}
      .Datetime-sun
        ul
          li #{weather.sunrise}
          li #{weather.sunset}
  .Block.Block--traffic
    .Traffic traffic
    .Traffic-list
      ul
        each duration in trafficDurations
          li #{duration.label}: #{duration.duration.humanize()}
