extends ../../layouts/home-sweet-home

block content
  +Block({
    type: 'datetime'
  })
    .Datetime
      //- .Datetime-time #{date.format('LT')}
      //- .Datetime-date #{date.format('LL')}
      .Datetime-sun
        ul
          //- li Sunrise: #{weather.sunrise.format('LT')}
          //- li Sunset: #{weather.sunset.format('LT')}
  +Block({
    type: 'weather'
  })
    +Weather(weather)
  +Block({
    type: 'wifi'
  })
    .Block-title Online devices
  +Block({
    type: 'traffic'
  })
    .Traffic traffic
    .Traffic-list
      ul
        //- each duration in trafficDurations
          li #{duration.label}: #{duration.duration.humanize()}
  +Block({
    type: 'news'
  }) news
  +Block({
    type: 'water'
  })
    .Water
      ul
        //- li #{waterLevel.date.format('LT')}: #{waterLevel.level}m
  +Block({
    type: 'wemo'
  }) Wemo on/off
  +Block bonjour
  +Block bonjour
